.vs/
.idea/
.vscode/

drafts/

*.so
*.dll
*.lib
*.exe
*.pdb

*.out
*.output

main
parser
result.txt

global.h.gch
main.output
main.tab.h
main.tab.c
main.tab.cpp
main.l.yy.c
main.l.yy.cpp

*.o
*.bin
result
output
a.out
